.form {
    .form-header {
        border-radius: 10px;
    }
    form {
        margin: 10px;
    }
    margin:20px auto;
    width: 30%;
    border: 1px solid rgb(243, 235, 235);
    border-radius: 10px;

}
.background {
    background-color: gray;
}

